body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    display: grid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.container {
    padding: 10%;
    border-bottom: 1px solid blueviolet;
}


.box {
    display: inline-block;  
    width: 150px;
    height: 150px;
    background-color: bisque;
    border: 10px solid red;
    border-radius: 0;
}
.box:hover {
    border-radius: 50%;
}
.lemon {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: yellow;
    border: 10px solid yellowgreen;

}